div{
    align-items: center;
}

h1{
    color: red;
    text-align: center;
}

h3{
    width: 60px;
    color: blue;
}

h3.uno{
    border-style: solid;
    border-radius: 30px 20px 10px 20px;
}

h3.dos{
    border-style: solid;
    border-radius: 30px 20px 30px;
    text-shadow: 7px 5px 4px;
}

h3.tres{
    border-style: solid;
    border-radius: 50px 40px;
    box-shadow: 10px 10px;
}

h3.cuatro{
    border-style: solid;
    border-radius: 10px;
    box-shadow: 5px 8px;
    text-shadow: 8px 6px 2px;
}   